<!DOCTYPE html>
<html>
<title>Maxim's Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/g.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
    {%for post in results%}
<header class="w3-container w3-center w3-padding-32">
    <h5><b>{{post.title}} by {{post.author}}</b></h5>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    <span class="w3-opacity">{{post.pdate}}</span>
    </div>

    <div class="w3-container">
      <p>{{post.blog}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
  <img src="/static/images/logo.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Maxim Ryklis</b></h4>
      <p>Just me, myself and I, exploring the universe of unknown. I have a heart of love and an interest in lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
    <a href="/"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">Return Home</button></a>
  <a href="/login"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">Login</button></a>
  <p>Powered by <a href="https://www.linkedin.com/in/maximryklis/" target="_blank">Maxim</a></p>
</footer>

</body>
</html>
