<!DOCTYPE html>
<html>
<head>
      {% if title %}
        <title>{{ title }} - Dashboard</title>
      {% else %}
        <title>Welcome to Maxim's Dashboard</title>
      {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
            body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>
</head>
<body class="w3-light-grey">
        <span>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </span>

        <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
<header class="w3-container w3-center w3-padding-32">
        <h2><b><p>Welcome to <span class="w3-tag">Maxim's</span> Dashboard</p></b></h2>
</header>
        <!-- Grid -->
        <div class="w3-row">
        <!-- Blog entries -->
        <div class="w3-col l8 s12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">

        <div class="w3-container">
            {% block content %}{% endblock %}
        </div>
        </div>
        <hr>

        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
        </div>
        <!-- END BLOG ENTRIES -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">

        <img class="w3-image" src="/static/images/logo.jpg">
        <!--<div class="w3-container w3-white">


       </div>-->
       </div><hr>
        <!-- END GRID -->
        </div><br>

        <!-- END w3-content -->
        </div>
        </div>
        <!-- Footer -->
     <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
            {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        <p>Powered by <a href="https://www.linkedin.com/in/maximryklis/" target="_blank">Maxim</a></p>
    </footer>
</body>
</html>